* {
  box-sizing: border-box;
}

.example-1 {
  background-color: black;
  color: white;
  padding: 15px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media print {
  .example-1 {
    background-color: white;
    color: black;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
  }
}
  @media screen and (min-width: 650px) {
  .example-1 {
    background-color: brown;
    font-size: 20px;
  }
}
@media screen and (max-width: 450) {
  .example-1 {
    font-size: 14px;
    background-color: blue;

  }
  
}
.example-2 {
  background-color: black;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 400px) {
  .example-2 {
    width: 40px;
    height: 40px;
    background-color: crimson;
  }
}
@media screen and (min-width: 600px) {
  .example-2 {
    width: 60px;
    height: 60px;
    background-color: rgb(222, 212, 214);
  }
}

@media screen and (min-width: 800px) {
  .example-2 {
    width: 80px;
    height: 80px;
    background-color: rgb(36, 19, 22);
  }
}

@media screen and (min-width: 1000px) {
  .example-2 {
    width: 100px;
    height: 100px;
    background-color: rgb(20, 220, 70);
  }
}

@media screen and (min-width: 1200px) {
  .example-2 {
    width: 120px;
    height: 120px;
    background-color: rgb(20, 43, 220);
  }
}
